<div class="card border-primary mb-3">
    <div class="card-header">{{ title }}</div>
    <div class="card-body text-primary">
      <h5 class="card-title">{{ subTitle }}</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear Cliente</button>
      </div>

      <div class="alert alert-info"
        *ngIf="clientes?.length == 0">No hay registros en la base de datos!!
      </div>
      
      <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>

      <table class="table table-bordered table-stripped" *ngIf="clientes?.length > 0">
          <thead>
            <tr *ngFor="let title of titleBar">
                <th>{{ title.id }}</th>
                <th>{{ title.nombre }}</th>
                <th>{{ title.apellido }}</th>
                <th>{{ title.email }}</th>
                <th>{{ title.createAt }}</th>
                <th>{{ title.editar }}</th>
                <th>{{ title.eliminar }}</th>
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td><button [routerLink]="['/clientes/ver', cliente.id]" class="btn btn-success btn-sm">{{ cliente.id }}</button></td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt }}</td>
                    <td>
                      <button type="button" name="button" class="btn btn-primary"
                        [routerLink]="['/clientes/form', cliente.id]">Editar</button>
                    </td>
                    <td>
                      <button type="button" name="eliminar" class="btn btn-danger"
                        (click)='delete(cliente)'>X</button>
                    </td>
                </tr>
            </tbody>
      </table>
      <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
    </div>
  </div>